streamlit
openai
transformers
torch
python-dotenv
langchain
langchain-community
langchain-openai
faiss-cpu
groq
google-generativeai
langchain
langchain-community
langchain-openai
langchain-text-splitters
faiss-cpu